target/
**/target/
*.class
*.jar
*.war
.idea/
**/.idea/
*.iml
.metadata/
**/.metadata/
.classpath
**/.classpath
.project
**/.project
.settings/
**/.settings/
bin/
**/bin/
node_modules/
**/node_modules/
dist/
**/dist/
.angular/
**/.angular/

